body,h1,ul {
    margin: 0;
}
/* PROBANDO CSS */

/* SELECTORES DE ETIQUETAS HTML */

body{
    background-color: #cadffb;
}

h1{
    background-color: #1465bb;
    font-size: 40px;
    color: white;
    text-align: center;
}


/* p {
    color:black;
    background-color:#53d4ff;
    font-size: 20px;
} */

/* SELECTORES PERSONALIZADOS*/
.destacado {
    color:black;
    background-color:#53d4ff;
    font-size: 20px;
}

.subtitulo {
    color:#0404e2;
    font-size: 60px;
}

.contenedor {
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: white;
}

.encabezado {
    border: 6px solid #666666;

}

.cuerpo1 {
    color: white ;
    background-color:#eff6fc;
}

.cuerpo2 {
    padding: 20px;
}

.pie {
    color: white;
    background-color:#666666;
    font-size: 24px;
    text-align: center;
    padding: 50px;
}

.menu {
    background-color: #1465bb;
}
.menu ul {
    list-style: none;
    text-align: center;    
}
.menu li {
    display: inline-block;
    padding: 10px;
        }
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: red;
}
.menu li:hover {
    background-color: aqua;
    border-radius: 15px;
    }
