@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body,h1,ul {
    margin: 0;
}

/* PROBANDO CSS */

/* SELECTORES DE ETIQUETAS HTML */

body{

background: rgb(254,252,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

    font-family: 'Ubuntu', sans-serif;

}

h1{
    background-color: #664300;
     font-size: 80px;
    color: white;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

h2, h3, h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #664300;
}
.titulodos {
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

p{
    font-size: 14px;
}

/* p {
    color:black;
    background-color:#53d4ff;
    font-size: 20px;
} */

/* SELECTORES PERSONALIZADOS*/
.destacado{
    color:black;
    font-size: 20px;
    

}

.subtitulo {
    color: #664300;
    font-size: 50px;
    text-shadow: white;
}

.contenedor {
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: white;
}

.encabezado {
    border: 6px solid #666666

}

.cuerpo1 {
    color: white ;
    background-color:#eff6fc;
    text-align: center;
}

.cuerpo2 {
    padding: 20px;
}

.pie {
    color: white;
    background-color:#666666;
    font-size: 24px;
    text-align: center;
    padding: 50px;

}

.menu {
    background-color: #afac00;
}
.menu ul {
    list-style: none;
    text-align: center;    
}
.menu li {
    display: inline-block;
    padding: 10px;
        }
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: white;
}
.menu li:hover {
    background-color: #6c5d00;
    border-radius: 15px;
    }

.cuerpo1{
    border: 1px solid rgb(0, 0, 0);
    background-image: url(../img/backh1.jpg);
    background-size: 100%;
    max-width: 100%;
}

.centrar{
    display: block;
    margin: auto;
}

.cajaimg {
    width: 50%;
    margin: auto;
}

.adaptable {
    width: 100%;
}
